.table {
  margin-top: 15px;
  width: 100%;
  border-collapse: collapse;
}

.th, .td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
  width: 150px;
}

.th {
  background-color: white;
}

.page {
  margin-top: 12px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.addBtn {
  margin-top: 16px;
}
